body {
    font-family: sans-serif;
    background-image: url(Фон.jpg);
    background-size: cover;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 300px;
    margin: 50px auto;
}
.display {
    grid-column: 1 / span 4;
    padding: 10px;
    text-align: right;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
.button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #00ffdd;
    cursor: pointer;
    font-size: 18px;
}
.button:hover {
    background-color: #00eeff;
}
.clear {
    background-color: #000000; 
    color: white; 
}
.equals {
    background-color: #000000; 
    color: white; 
}